:root{
    --dark: rgb(20,20,20);
    --red: rgb(167, 18, 183);
    

}







@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
*{
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: border-box;
    padding: 0;
}
body{
    background-color: var(--dark);
    
}
.nav{
    color: white;
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 9vh;
    margin: 0;
    border-bottom: 1px solid white;
    

}

.nav::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 9vh;
    background: linear-gradient(90deg, transparent, var(--dark), transparent);
    transition: .5s;

}
.nav:hover::before{
    left: 100%;
}

.name{
    color: rgb(10, 10, 10);
    color: black;
    border-radius: 50%;
    font-weight: 700;
}
.name:hover{
    cursor: pointer;
    color: black;
    transition: .2s;
    transform: scale(1.1);
    
}



.nav-content,a{
    text-decoration: none;
    color: white;  
}

.title{
    width: 30%;
    font-size: 2rem;
    position: relative;
    
}
.title:hover{
    transform: scale(1.001);
    transition: .2s;
   
}
.nav-content{
    display: flex;
    gap: 4rem;
    justify-content: space-evenly;
    width: 50%;
}


.btn{
    
    background-color: var(--dark);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2rem;
}
.btn:hover{
    
    cursor: pointer;
    
    box-shadow: 2px 2px 60px var(--dark);
    border: none;
    transform: scale(1.1);
    transition: .2s;
}
.sign:hover{
    cursor: pointer;
    background-color: blueviolet;
    transition: 0.3s;
    transform: scale(1.1);
    transition: .2s;
}
/* navbar ends here */


.tagline{
    display: flex;
    justify-content: space-between;
    gap: 15rem;
    margin-top: 1rem;
    color: white;
}
.intro-img{
    background-size: cover;
    background-image:url("Images/intro.jpg");
    height: 45vh;
    width: 43vw;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5rem;
    border-radius: 50px;
    margin-right: 8rem;
    
}


   
.text{
    padding-top: 8rem;
    width: 20rem;
    text-align: left;
    margin-left: 4rem;
}
.book1-btn{
    color: white;
    font-size: 1.1rem;
    background-color: rgb(51, 52, 52);
    border-radius: 10px;
    width: 65%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.book1-btn:hover{
    cursor: pointer;
    
    transition: .2s;
    background-color: var(--dark);
    
    transform: scale(1.1);
    box-shadow: 5px 5px 80px var(--red);
}
.trusted-by{
    text-align: center;
    color: white;
    margin-top: 10rem;
    font-family: cursive;
    font-style: italic;
    

}

.brand{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    
    
}
.brand1{
    background-position: center;
    background-size: cover;
    height: 9rem;
    
}

.brand1, .brand-pic1{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 1rem;
}
.brand2, .brand-pic2{
    justify-content: center;
    display: flex;
    align-items: center;
    
    
}
.brand4, .brand-pic3 {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 15rem;
    height: 6rem;
}

.brand5, .brand-pic5{
    margin-right: 1rem;
}

.brand1:hover{
    box-shadow: 0 1px 50px rgb(1, 230, 255);
    border-radius: 20px;
    background-color: aqua;
    transition: 0.1s;
}

.brand2:hover{
    box-shadow: 0 1px 45px rgb(242, 237, 101);
    border-radius: 20px;
    background-color: rgb(252, 249, 100);
    transition: 0.2s;
}


.brand3:hover{
    box-shadow: 0 1px 45px rgb(72, 239, 86);
    border-radius: 20px;
    background-color: rgb(102, 244, 87);
    transition: 0.2s;
}

.brand4:hover{
    box-shadow: 0 1px 45px rgb(230, 103, 247);
    border-radius: 20px;
    background-color: rgb(233, 94, 243);
    transition: 0.2s;
}

.brand5:hover{
    box-shadow: 0 1px 45px rgb(243, 52, 52);
    border-radius: 20px;
    background-color: rgb(243, 54, 54);
    transition: 0.2s;
}

.features{
    box-shadow: 1px 1px 5px 5px gray;
}

.features:hover{
    box-shadow: 0px 2px 10px gray;    
}

.n-image-wrapper{
    padding-left: 10px;
    padding-top: 10px;
}




.slider-list {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    color: white;
    justify-content: space-around;
    gap: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    

    
}

.line-title{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.line {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.tour{
    background-image: url("Images/aleksandra-tanasiienko-0y6eMd8vevA-unsplash.jpg");
    height: 45vh;
    width: 43vw;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5rem;
    border-radius: 50px;
    margin-right: 8rem;
    background-size: cover;
}
.tour1{
    background-image: url("Images/jason-leung-poI7DelFiVA-unsplash.jpg");
    
    height: 45vh;
    width: 43vw;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5rem;
    border-radius: 50px;
    margin-right: 8rem;
    background-size: cover;
    margin-bottom: 40px;
}


.tour-tagline{
    display: flex;
    justify-content: space-around;
    gap: rem;
    margin-top: 1rem;
    color: white;
}

.tour1-tagline{
    display: flex;
    justify-content: space-around;
    
    margin-top: 1rem;
    color: white;
}
/* user feedback starts here*/
.usersay{
    margin-top: 9rem;
}
.line-1{
    text-align: center;
    color: white;
}
.line-2{
    color: silver;
    margin-top: 2rem;
    text-align: center;
}



.review{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    
}
.review1{
    height: 40vh;
    width: 30vw;
    background-color: khaki;
}
.review2{
    height: 40vh;
    width: 30vw;
    background-color: darkblue;
}
.review3{
    height: 40vh;
    width: 30vw;
    background-color:firebrick ;
}
.review4{
    height: 40vh;
    width: 30vw;
    background-color: saddlebrown;
}

.testimonials{
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
  }
  .inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  
  .border{
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  .testimonial{
    background: #fff;
    padding: 30px;
  }
  .testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .name1{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
  }
  .stars{
    color: #6ab04c;
    margin-bottom: 20px;
  }
  
  
  @media screen and (max-width:960px) {
  .col{
    flex: 100%;
    max-width: 80%;
  }
  }
  
  @media screen and (max-width:600px) {
  .col{
    flex: 100%;
    max-width: 100%;
  }
  }
  


/* footer*/



  
.pg-footer {
    font-family: 'Roboto', sans-serif;
  }
  
  
  .footer {
      background-color: #004658;
      color: #fff;
  }
  .footer-wave-svg {
      background-color: transparent;
      display: block;
      height: 30px;
      position: relative;
      top: -1px;
      width: 100%;
  }
  .footer-wave-path {
      fill: #fffff2;
  }
  
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }
  
  .footer-content-column {
      box-sizing: border-box;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      color: #fff;
  }
  
  .footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-logo-link {
      display: inline-block;
  }
  .footer-menu {
      margin-top: 30px;
  }
  
  .footer-menu-name {
      color: #fffff2;
      font-size: 15px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-menu-list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 10px;
      padding-left: 0;
  }
  .footer-menu-list li {
      margin-top: 5px;
  }
  
  .footer-call-to-action-description {
      color: #fffff2;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .footer-call-to-action-button:hover {
      background-color: #fffff2;
      color: #00bef0;
  }
  .button:last-of-type {
      margin-right: 0;
  }
  .footer-call-to-action-button {
      background-color: #027b9a;
      border-radius: 21px;
      color: #fffff2;
      display: inline-block;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      padding: 12px 30px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .2s;
      cursor: pointer;
      position: relative;
  }
  .footer-call-to-action {
      margin-top: 30px;
  }
  .footer-call-to-action-title {
      color: #fffff2;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-call-to-action-link-wrapper {
      margin-bottom: 0;
      margin-top: 10px;
      color: #fff;
      text-decoration: none;
  }
  .footer-call-to-action-link-wrapper a {
      color: #fff;
      text-decoration: none;
  }
  
  
  
  
  
  .footer-social-links {
      bottom: 0;
      height: 54px;
      position: absolute;
      right: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-svg {
      height: 54px;
      left: 0;
      display: block;
      position: absolute;
      top: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-path {
      fill: #027b9a;
  }
  
  .footer-social-link.linkedin {
      height: 26px;
      left: 3px;
      top: 11px;
      width: 26px;
  }
  
  .footer-social-link {
      display: block;
      padding: 10px;
      position: absolute;
  }
  
  .hidden-link-text {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px,1px,1px,1px);
      -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
      clip-path: inset(0px 0px 99.9% 99.9%);
      overflow: hidden;
      height: 1px;
      width: 1px;
      padding: 0;
      border: 0;
      top: 50%;
  }
  
  .footer-social-icon-svg {
      display: block;
  }
  
  .footer-social-icon-path {
      fill: #fffff2;
      transition: fill .2s;
  }
  
  .footer-social-link.twitter {
      height: 28px;
      left: 62px;
      top: 3px;
      width: 28px;
  }
  
  .footer-social-link.youtube {
      height: 24px;
      left: 123px;
      top: 12px;
      width: 24px;
  }
  
  .footer-social-link.github {
      height: 34px;
      left: 172px;
      top: 7px;
      width: 34px;
  }
  
  .footer-copyright {
      background-color: #027b9a;
      color: #fff;
      padding: 15px 30px;
    text-align: center;
  }
  
  .footer-copyright-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
  }
  
  .footer-copyright-text {
    color: #fff;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
  }
  
  .footer-copyright-link {
      color: #fff;
      text-decoration: none;
  }
  
  
  
  
  
  
  
  /* Media Query For different screens */
  @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  
  }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  
  }
  @media (min-width:1281px) { /* hi-res laptops and desktops */
  
  }
  
  
  
  
  @media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 450px;
        position: relative;
    }
  
    .footer-wave-svg {
        height: 50px;
    }
  
    .footer-content-column {
        width: 24.99%;
    }
  }
  @media (min-width: 568px) {
    /* .footer-content-column {
        width: 49.99%;
    } */
  }